
	body{background-color:violet;}

	h1{text-align:center; font-size:40px; font-family:Edwardian Script ITC; color:black;}

	ul{text-align:center; font-size:22px; font-family:Matura MT Script Capitals; color:red;}